.course-details {
  width: 60%;
  background: rgb(233, 236, 239);
  border-radius: 18px;
  display: flex;
  gap: 30px !important;
}

.Category ul {
  list-style: none;
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  gap: 8px;
  margin-bottom: 20px;
  padding: 0;
}

.Category li {
  display: inline-block;
  padding: 4px 10px;
  font-size: 13px;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  background: #c9cdd2;
  text-transform: uppercase;
}

.title h1 {
  font-weight: 700;
}

.description p {
  font-size: 20px;
  letter-spacing: 1.5px;
}

.bottom-group span {
  font-size: 18px;
}

.bottom-group strong {
  font-size: 22px;
}
