a {
  text-decoration: none;
}

.card {
  background: rgb(233, 236, 239);
  border-radius: 18px;
  border: 0.8px solid grey;
  padding: 22px;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 10px 10px rgba(0, 0, 0, 1);
}

.Category ul {
  list-style: none;
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.Category li {
  display: inline-block;
  padding: 4px 10px;
  font-size: 13px;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  background: #c9cdd2;
  text-transform: uppercase;
}

/* TITLE */
.title h2 {
  font-weight: 700;
  line-height: 1.25;
  color: #081120;
}

/* DESCRIPTION */
.description p {
  font-size: 14px;
  color: #2c3b4f;
  line-height: 1.4rem;
  margin-bottom: 18px;
  overflow: hidden;
}

/* DETAILS SECTION */
.details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  font-weight: 500;
  color: #1b2533;
}

.details .level {
  font-size: 13px;
}

/* OPTIONAL WRAPPER FOR GRID */
.card-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 20px;
}
